# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# Database and Caches
backend/data/*.db
backend/data/**/*.db
backend/data/cache/
*.db-shm
*.db-wal

# IDEs
.idea/
.vscode/
*.swp
